.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.title {
  text-align: center;
}

table {
  background-color: #555;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 350px;
}

table td, table th {
  border: 1px solid #555;
  padding: 5px 2px;
}

table tbody td {
  color: white;
  font-size: 13px;
  padding: 10px;
}

table tr:nth-child( even ) {
  background: #414141;
}

table thead {
  background: black
    linear-gradient(to bottom, #404040 0%, #191919 66%, black 100%);
}

table thead th {
  color: white;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

table tfoot {
  background: black
    linear-gradient(to bottom, #404040 0%, #191919 66%, black 100%);
  color: white;
  font-size: 9px;
}

table tfoot td {
  font-size: 9px;
}

table tfoot .links {
  text-align: right;
}

table tfoot .links a {
  background: #969696;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 2px 8px;
}
